<!-- BIENVENIDA -->

<div class="section1 p-0 text-white">
    <div class="row justify-content-center">
        <h1 class="text-white mt-3 pt-5">EL HERALDO</h1>
    </div>
    <div data-aos="zoom-in" class="d-flex position-relative flex-column align-items-center bienvenida p-0"
        style="top:60px;">
        <div class="row justify-content-center pb-3">
            <h1 class="border p-4 shadow videos-h1-color text-white">BIENVENIDO</h1>
        </div>
        <div class="row justify-content-center mx-auto">
            <div class="col-lg pl-5 pr-5">
                <span class="text-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatum,
                    sequi laboriosam
                    dolore veritatis perferendis qui, quibusdam exercitationem eum vitae cumque
                    consectetur
                    harum magni aliquid dolorem. Esse numquam exercitationem praesentium? Explicabo!
                    Amet odit distinctio perferendis? Soluta et, error vitae porro, voluptatum sit odio
                    rerum</span>
            </div>
        </div>
    </div>
</div>

<!-- Podcast -->
<div class="container-fluid">
    <div class="row justify-content-center p-0" style="background-color: #212529;">
        <h1 class="videos-h1-color text-white">PODCAST</h1>
    </div>
    <!--
                    {{#each podcastDoc}}
                        <div class="row" style="background-color: #212529;">
                            <div id="videos" data-aos="zoom-in" class="col-lg p-0" style="background-color: #212529;">
                                <div class="col-lg d-flex flex-column">
                                    <iframe src="{{spotifyFrame}}" width="100%" height="158" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    -->
    <div class="row" style="background-color: #212529;">
        <div id="videos" class="col-lg p-0" style="background-color: #212529;">
            <div class="col-lg d-flex flex-column">
                <iframe src="https://open.spotify.com/embed-podcast/episode/6yvNB5hN8mAHGFMmWCoZ6U" width="100%"
                    height="158" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #212529;">
        <div id="videos" class="col-lg p-0" style="background-color: #212529;">
            <div class="col-lg d-flex flex-column">
                <iframe src="https://open.spotify.com/embed-podcast/episode/6yvNB5hN8mAHGFMmWCoZ6U" width="100%"
                    height="158" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #212529;">
        <div id="videos" class="col-lg p-0" style="background-color: #212529;">
            <div class="col-lg d-flex flex-column">
                <iframe src="https://open.spotify.com/embed-podcast/episode/6yvNB5hN8mAHGFMmWCoZ6U" width="100%"
                    height="158" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- /Podcast -->


<div class="container-fluid">
    <div class="row justify-content-center p-3" style="background-color: black;">
        <div class="btn border text-white"><a class="text-white text-decoration-none" href="/podcast">Ver más</a></div>
    </div>
</div>

<!-- HISTORIA -->

<div class="container-fluid section5 d-flex align-items-center justify-content-center" style="height:610px;">
    <div id="historia" data-aos="zoom-in" class="container bg-white p-3" style="opacity: .9; border-radius: 20px">
        <h1 class="text-center videos-h1-color">Titulo</h1>
        <div>
            <span class="text-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
                eum corrupti
                iusto quis maxime quibusdam blanditiis reiciendis, adipisci exercitationem
                reprehenderit assumenda, distinctio, rem dolore doloremque unde excepturi suscipit
                accusamus iure.
                Consequuntur repellendus quae voluptatibus, amet officiis totam minima ratione
                reiciendis rerum. Cupiditate laboriosam pariatur modi voluptate rem. Ratione
                obcaecati officiis nulla alias aliquid. Omnis maxime commodi modi quam, libero
                sed.</span>
        </div>
    </div>
</div>

<!-- NOTICIAS -->

<div class="container-fluid">
    <div class="row justify-content-center p-0" style="background-color: #212529;">
        <h1 class="videos-h1-color text-white">NOTICIAS</h1>
    </div>
    <div id="noticias" class="row">
        {{#each articleDoc}}
        <div class="col-sm-6 col-lg-4 p-0  bg-dark border border-white">
            <a class="" href="/noticias/{{_id}}"><img class="section-news" src={{image}} alt="Imagen"></a>
            <div class="container p-4">
                <h1 class="videos-h1-color">{{title}}</h1>
                <span class="text-white">
                    {{description}}
                </span>
            </div>
        </div>

        {{/each}}


    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center p-3" style="background-color: black;">
        <div class="btn border text-white">
            <a class="text-white text-decoration-none" href="/noticias">Ver más</a>
        </div>
    </div>
</div>