<div class="container-fluid">
    <div class="row">
        <div class="col-lg p-0  bg-white">
            <img class="section-news" src="{{image}}" alt="{{title}}" style="height:60vh;">
            <div class="container-fluid p-4">
                <h1 class="videos-h1-color text-center">{{title}}</h1>
                <h6 class="videos-h1-color">Fecha: {{date}}</h4>
                    <span class="text-dark">
                        {{content}}
                    </span>
                    <h5 class="videos-h1-color">Autor: {{autor}}</h3>
            </div>
        </div>
    </div>
</div>