<div class="container-fluid">
    <div class="row">
        {{#each articleDoc}}
        <div class="col-sm-6 col-lg-4 p-0  bg-dark border border-white">
            <a class="" href="/noticias/{{_id}}"><img class="section-news" src={{image}} alt="{{title}}"></a>
            <div class="container p-4">
                <h1 class="videos-h1-color" style="font-size:2rem;">{{title}}</h1>
                <span class="text-white">
                    {{description}}
                </span>
            </div>
        </div>
        {{/each}}
    </div>
</div>