<div class="container-fluid">
    <div class="row">
        
        <div class="col-lg p-0  bg-white">
            <img class="section-news" src="{{New.image}}" alt="{{New.title}}" style="height:60vh;">
            <div class="container-fluid p-4">
                <h1 class="videos-h1-color text-center">{{New.title}}</h1>
                <h6 class="videos-h1-color">Fecha: {{moment New.createdAt format="DD/MM/YYYY"}}</h4>
                    <span class="text-dark">
                        {{New.content}}
                    </span>
                    <h5 class="videos-h1-color">Autor: {{New.author}}</h3>

            </div>
        </div>

    </div>
</div>